.Explanation {
  background-image: linear-gradient(#1d1d1d);
  color: var(--primary-white);
  position: relative;
  overflow: hidden;

  .Explanation__a {
    border-width: 0 2px 0 2px;
    border-color: white;
  }

  &::after {
    content: url('../../assets/photos/svg/html5-line.svg');
    position: absolute;
    top: 50;
    right: 0;
    transform: scale(1.9, 1.9) rotate(20deg);
    width: 388.05px;
    height: 575.27px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
