.nav {
    .nav__btn {
        color: var(--primary-gray);
        border-radius: 30px;
        font-size: 13px;
        transition: 1.5s;

        &:hover {
            background-color: var(--primary-white);
            color: var(--primary-black);
        }

    }

    .selected {
        background-color: var(--primary-white);
        color: var(--primary-black);
    }

}