.AboutMe{
    background-color: var(--primary-white);
    .AboutMe__h1 {
        border: 8px solid black;
    }
    .AboutMe__btn{
        border-width: 0 3px 0 3px;
        border-color:  black ;
    }
}