:root{
    --primary-gray:#D7D7D7;
    --primary-black:#000000;
    --primary-white:#FFFFFF;
}
.gray-bg{
    background-color: var(--primary-gray)
}
.black-bg{
    background-color: var(--primary-black)
}
// fonts
@import './fonts';

// components files
// Navbar
@import './../../components/navbar/navbar';
// Headers
@import './../../components/Header/Header';
