:root {
  --primary-gray: #d7d7d7;
  --primary-black: #000000;
  --primary-white: #ffffff;
}
.gray-bg {
  background-color: var(--primary-gray);
}
.black-bg {
  background-color: var(--primary-black);
}

// fonts
@import './fonts';

// components files
// Navbar
@import './../../components/navbar/navbar';
// Headers
@import './../../components/Header/Header';
// JobExplanation
@import './../../components/mainParts/jobExplanation/jobExplanation';
// About Me
@import './../../components/mainParts/AboutMe/aboutMe';
// SkillParts
@import './../../components/mainParts/SkillsPart/skillsPart'