:root {
  --primary-gray:#D7D7D7;
  --primary-black:#000000;
  --primary-white:#FFFFFF;
}

.gray-bg {
  background-color: var(--primary-gray);
}

.black-bg {
  background-color: var(--primary-black);
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav .nav__btn {
  color: var(--primary-gray);
  border-radius: 30px;
  font-size: 13px;
  transition: 1.5s;
}
.nav .nav__btn:hover {
  background-color: var(--primary-white);
  color: var(--primary-black);
}
.nav .selected {
  background-color: var(--primary-white);
  color: var(--primary-black);
}