:root {
  --primary-gray:#D7D7D7;
  --primary-black:#000000;
}

.gray-bg {
  background-color: var(--primary-gray);
}

.black-bg {
  background-color: var(--primary-black);
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}